<div class="column is-half top-alligned" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <% if user_signed_in? %>
    <article class="media box profile-bg">
      <figure class="media-left">
        <p class="gravatar-img is-32x32">
          <%= gravatar_image_tag( current_user.email, size: 64, alt: current_user.name, gravatar: { size: 48 } ); %>
        </p>
      </figure>
      <div class="media-content ">
        <%= render 'whisprs/form' %>
      </div>
    </article>
  <% end %>
  <% @whisprs.each do |whispr| %>
    <div class="box profile-bg">
      <article class="media aticle-custom">
        <div class="media-left">
          <figure class="gravatar-img is-48x48">
            <%= gravatar_image_tag(whispr.user.email, size: 64, alt: whispr.user.name, gravatar: { size: 58 }) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <div class="container">
              <div class="tile is-ancestor">
                <div class="tile is-vertical is-4">
                  <div class="tile is-parent is-vertical">
                    <div class="tile is-child ">
                      <strong class="has-text-white"><%= whispr.user.name %></strong><br/>
                      <small class="has-text-white">@<%= whispr.user.username %></small><br/>
                    </div>
                  </div>
                </div>

                <div class="tile is-vertical is-6">
                  <div class="tile is-parent is-vertical">
                    <div class="tile is-child ">
                      <small class="has-text-white is-size-7"> <%= time_ago_in_words(whispr.created_at) %> ago</small>
                    </div>
                  </div>
                </div>

                <div class="tile is-vertical is-2">
                  <div class="tile is-parent is-vertical">
                    <div class="tile is-child ">
                      <% if user_signed_in? && current_user.id == whispr.user_id %>
                        <nav class="level">
                          <div class="container"></div>
                          <br class="level-left is-mobile">
                          <%= link_to edit_whispr_path(whispr), class: "level-item" do %>
                            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                          <% end %>
                          <%= link_to whispr, class: "level-item", method: :delete, data: { confirm: "Are you sure you want to delete this whispr?" } do %>
                            <span class="icon"><i class="fa fa-trash-o danger-icons" aria-hidden="true"></i></span>
                          <% end %>
                        </nav>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="tile is-ancestor">
                  <div class="tile is-vertical is-4">
                    <div class="tile is-parent is-vertical">
                      <div class="tile is-child ">
                        <p class="subtitle is-capitalized">
                          <strong class="has-text-white"><%= whispr.title %></strong>
                        </p><br>
                        <% unless whispr.whispr_files.blank? %>
                          <%= image_tag(whispr.whispr_files_url) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="tile is-vertical is-8">
                    <div class="tile is-parent is-vertical">
                      <div class="tile is-child ">
                        <div class="container">
                          <p class="has-text-white"><%= whispr.description %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <section class="comments">
            <nav class="whispr-analytics">
              <div class="level-left">
                <div class="level-item">
                  <% if user_signed_in? %>
                    <% if current_user.liked? whispr %>
                      <%= link_to vote_whispr_path(whispr), method: :delete  do %>
                        <span class="icon"><i class="fa fa-heart danger-icons"></i></span>
                      <% end %>
                      <small class="is-5 has-text-white"><%= pluralize(whispr.get_likes.size, 'Like') %></small>
                    <% else %>
                      <%= link_to vote_whispr_path(whispr) , method: :put do %>
                        <span class="icon"><i class="fa fa-heart"></i></span>
                      <% end %>
                      <small class="is-5 has-text-white"><%= pluralize(whispr.get_likes.size, 'Like') %></small>
                    <% end %>
                  <% else %>

                  <% end %>
                </div>
                <div class="level-item comments data">
                  <% var_id = 'comments_section_' + whispr.id.to_s %>
                  <a ><span class="icon is-primary" data-unique-id="<%= var_id %>"><i class="fa fa-comment"></i></span></a>
                  <small class="is-5 has-text-white" id="nr_comments_<%= var_id %>"><%=pluralize(whispr.comments.count, 'Comment') %></small>
                </div>
              </div>
            </nav>
            <div class="initially-hidden" id="comments_section_<%= whispr.id %>">
              <div  id="comments_for_whispr_<%= whispr.id %>">
                <%= render whispr.comments, id: '' %>
              </div>
              <div id="comments_form_<%= whispr.id %>">
                <% if user_signed_in? %>
                  <%= render 'comments/form', whispr: whispr%>
                <% end %>
              </div>
            </div>


          </section>
        </div>
      </article>
    </div>
  <% end %>
</div>