<%= simple_form_for(@whispr) do |f| %>
  <%= f.error_notification %>
  <div class="field is-small">
    <div class="control is-small has-text-white">
      <%= f.input :title , label: "Whispr about it", input_html: { class: "input is-small"}, wrapper: false, label_html: {class: "label"}, placeholder: "Compose a new whispr...", autofocus: true %>
    </div>
    <div class="control is-small has-text-white">
      <%= f.input :description , label: "What's on your mind?", input_html: { class: "textarea is-small"}, wrapper: false, label_html: {class: "label"}, placeholder: "Add your description" %>
    </div>
  </div>

  <%= f.button :submit, class: "button is-primary is-small" %>
<% end %>

