<div class="column is-one-quarter sidebar">
  <nav class="panel is-dark">
    <p class="panel-heading"><strong><%= link_to "Profile", root_path %></strong></p>
    <div class="panel-block profile-bg">
      <article class="media">
        <div class="media-left">
          <figure class="gravatar-img is-64x64">
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p class="has-text-white">
              <strong class="has-text-white"><%= current_user.name %></strong><br />
              <strong><small class="has-text-white">@<%= current_user.username %></small></strong><br/>
              <small class="has-text-white">Joined <%= time_ago_in_words(current_user.created_at) %> ago</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block is-dark profile-bg">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading has-text-white"><strong class="has-text-white">Whisprs</strong></p>
            <p class="title is-6 has-text-white"><%= current_user.whisprs.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading has-text-white"><strong class="has-text-white">Following</strong></p>
            <p class="title is-6 has-text-white"><%= current_user.following.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading has-text-white"><strong class="has-text-white">Followers</strong></p>
            <p class="title is-6 has-text-white"><%= current_user.followers.count %></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>