<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>WhisprsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-fixed-top is-dark is-bold" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" style="position:relative">
        <%= link_to root_path, class:"navbar-item" do %>
          <span class="icon"><i class="fa fa-eercast" aria-hidden="true"></i></span>
          <span class="title is-5 has-text-white">Whispr</span>
        <% end %>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <p class="control">
                <%= link_to root_path, class:"button is-primary" do %>
                  <span>New Whispr</span>
                  <span class="icon is-small"><i class="fa fa-cloud-upload"></i></span>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if user_signed_in? %>
                <p class="control">
                  <%= link_to current_user.name, edit_user_registration_path, class:"button is-dark" %>
                </p>
                <p class="control">
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"button is-dark" %>
                </p>
              <% else %>
                <p class="control">
                  <%= link_to "Log In", new_user_session_path, class:"button is-dark" %>
                </p>
                <p class="control">
                  <%= link_to "Sign Up", new_user_registration_path, class:"button is-dark" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="hero has-bg-img is-fullheight has-fixed-navbar">
        <%= yield %>
    </div>
  </body>
</html>
